################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################


/.vs
/Drone Patrol/Drone Patrol.csproj.user
/MDK
/obj
/bin
*.csproj
*.user
*.sln
